.GT-li {
  padding: 10px;
  border-bottom: 1px solid hsl(0, 0%, 100%, 0.5);
  color: #fff;
  cursor: pointer;
  text-align: center;
  &.active {
    border-left: 4px solid #1a936f;
    background-color: #171e27;
  }
  .GT-label {
    font-size: 10px;
    color: #fff;
  }
}

.dark {
  .GT-li {
    border-left-color: #1a936f;
  }
}
